<?xml version="1.0"?>

<!-- top level -->
<robot name="lbr_med7_r800" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- include the Med 7 R800 macro -->
    <xacro:include filename="$(find lbr_med7_r800_description)/urdf/lbr_med7_r800_macro.xacro" />

    <!-- arguments -->
    <xacro:arg name="robot_name" default="lbr" />
    <xacro:arg
        name="joint_limits_path"
        default="$(find lbr_med7_r800_description)/config/joint_limits.yaml" />

    <!-- Med 7 R800 description -->
    <xacro:lbr_med7_r800
        robot_name="$(arg robot_name)"
        joint_limits_path="$(arg joint_limits_path)" />
</robot>