<?xml version="1.0"?>

<!-- top level -->
<robot name="med7" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- include the med7 macro -->
    <xacro:include filename="$(find med7_description)/urdf/med7_macro.xacro" />

    <!-- arguments -->
    <xacro:arg name="robot_name" default="lbr" />
    <xacro:arg
        name="joint_limits_path"
        default="$(find med7_description)/config/joint_limits.yaml" />

    <!-- med7 description -->
    <xacro:med7
        robot_name="$(arg robot_name)"
        joint_limits_path="$(arg joint_limits_path)" />
</robot>